<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBoot模版渲染</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
   <form th:action="@{/update}" method="post">
    <table>
        <tr>
            <td><input type="hidden" name="id" th:value="${student.id}"></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name" th:value="${student.name}"></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="text" name="age" th:value="${student.age}"></td>
        </tr>
        <tr>
            <td>xuehao</td>
            <td><input type="text" name="number" th:value="${student.number}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="update"></td>
        </tr>
    </table>
	</form>

</body>
</html>